{% load static %}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Войти</title>
    <link rel="stylesheet" href="{% static 'user/login.css' %}">
</head>
<body>
  <div class="login-container">
      <h2>Вход в систему</h2>
      <form method="POST">
          {% csrf_token %}
          {{ form.as_p }}
          <button type="submit">Войти</button>
      </form>

      <p class="register-link">Нет аккаунта? <a href="{% url 'RegisterPage' %}">Зарегистрироваться</a></p>
  </div>
</body>
</html>
