{% load static %}
<link rel="stylesheet" href="{% static 'main/HomePage.css' %}" />

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Task Manager</title>
  </head>
  <body>
    <div class="header">
      {% if user.is_authenticated %}
        <form method="POST" action="{% url 'Logout' %}" class="logout-form">
          {% csrf_token %}
          <button type="submit" class="logout-btn">Выйти</button>
        </form>
      {% else %}
        <button class="login-btn"><a href="{% url 'LoginPage' %}">Войти</a></button>
      {% endif %}
    </div>
        

    <div class="container">
      <div class="form-container">
        <form
          method="POST"
          action="{% if edit_task %}{% url 'update_task' edit_task.pk %}{% else %}{% url 'create_task' %}{% endif %}"
        >
          {% csrf_token %}
          <label for="id_title">Задача</label>
          {{ form.title }}
          {% if user.is_authenticated %}
          <button type="submit" class="submit-btn">
              {% if edit_task %}Сохранить{% else %}Добавить{% endif %}
          </button>
          {% else %}
            Нужно войти
          {% endif %}
        </form>
      </div>
      
      {% if user.is_authenticated %}
      <div class="task-list">
        {% if tasks %}
        <ul>
          {% for task in tasks %}
          <li class="task-item">
            <div class="task-details">
              <span class="task-title">{{ task.title }}</span>
            </div>
            <div class="task-actions">
              <form
                method="GET"
                action="{% url 'edit_task' task.pk %}"
                class="action-form"
              >
                <button type="submit" class="edit-btn">✏️</button>
              </form>
              <form
                method="POST"
                action="{% url 'delete_task' task.pk %}"
                class="action-form"
              >
                {% csrf_token %}
                <button type="submit" class="delete-btn-dlt">❌</button>
              </form>
            </div>
          </li>
          {% endfor %}
        </ul>
        {% else %}
        <p>Пора создать задачу</p>
        {% endif %}
      </div>
      {% endif %}
    </div>
  </body>
</html>
ы
